.container {
  display: flex;
justify-content: center;
background-color: rgb(196, 228, 255);
font-family: 'Montserrat', sans-serif;
padding: 10px;
}

h2 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
p {
padding: 15px;
font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: rgb(241, 255, 90);
  border: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 5px;
}

.showBtn {
  border: none;
  background-color: none;
}

